*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
header{
    max-width: 100%;
    margin:auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: relative;
    z-index: 1000;
    background-color: #000;
    width: 100%;
    padding: 0 50px;
}
header a{
    text-decoration: none;
    color: #eee;
    margin-right: 40px;
    padding: 10px 20px;
    transition: all 0.5s;
}
header a:hover{
    background-color: #e94e4e;
}

.carousel{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -60px;
    position: relative;
}
.carousel .list .item{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%; 
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 5px;
}
.carousel .list .item .content .title{
    font-size: 4em;
    font-weight: bold;
    list-style: 1.5em;
}
.carousel .list .item .content .description{
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
    color: #eee;
    padding:10px;
    width: 70%;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    gap: 20px;
    grid-template-rows: 40px;
    margin-top: 20px;
}
.carousel .list .item .content button{
    border: none;
    background-color: #eee;
    letter-spacing: 2px;
    font-weight: 500;
    cursor:pointer; 
}
.carousel .list .item .content button a{
    text-decoration: none;
    color: #eee;
}
.carousel .list .item .content button:nth-child(2){
    background-color: transparent ;
    border: 1px solid #eee;
    color: #eee;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 48%;
    right: 10%;
    width: max-content;
    z-index: 1000;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 190px;
    height: 220px;
    flex-shrink: 0;
    position: relative; 
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 10px;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}   
.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-size: 0.8em;
    font-weight: bolder;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
}
.thumbnail .item .content .description{
    font-size: 0.7em;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
    font-style: italic;
}

.carousel .arrows{
    position: absolute;
    top: 80%;
    left:26%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.carousel .arrows button{
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 1.5em;
    background-color: #eee4;
    border: none;
    border-radius: 50%;
    transition: 400ms;
    z-index: 2000;
}
.carousel .arrows button:hover{
    background-color: #eee;
    color: #555;
}
.carousel .list .item:nth-child(1){
    z-index: 1;
}
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .description,
.carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;   
}
@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .description{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.6s;
}

.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position:absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left:0;
        bottom:0;
        border-radius: 0;
    }
}
.carousel.next .list .item:nth-child(1){
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail {
    to{
        width: 100%;
    }
}
.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail 0.5s linear 1 forwards;
}
@keyframes transformThumbnail {
    to{
        transform: translateX(0);
    }
}
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage {
    to{
        width: 150px;
        height: 220px;
        left: 50%;
        bottom: 50px;
        border-radius: 20px;
    }
}
.carousel.prev .list .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .description,
.carousel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 0.5s 1s linear 1 forwards;   
}
@keyframes contentOut {
    from{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    to{
        opacity: 0;
        filter: blur(20px);
        transform: translateY(-150px);
    }
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
   pointer-events: none;
}
.time{
    width: 0%;
    height: 5px;
    background-color: #e94e4e;
    position: absolute;
    z-index: 1000;
    top:0;
    left:0;
}
.carousel.next .time,
.carousel.prev .time{
   width: 100%;
   animation: time 2s linear 1 forwards;
}
@keyframes time {
    to{
        width: 0%;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        width: 100%;
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}


/*----------Subscribe.html-----------*/
.subscribe-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.subscribe-section .logo-holder{
    width: 30%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-section .logo-holder img{
   padding: 40px;
   width: 70%;
}
.subscribe-section .subscribe{
    width:70%;
    height: 90vh;
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 5px 10px #0004;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-section .subscribe .subscribe-holder{
    display: block;
    margin-top: 100px;
    height: 100%;
    width:25%;
    transition: all 0.4s;
}.subscribe-section .subscribe .login-holder{
    display: none;
    margin-top: 100px;
    height: 100%;
    width:25%;
    transition: all 0.4s;
}
.subscribe-section .subscribe  .subscribe-holder h1, 
.subscribe-section .subscribe .login-holder h1{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}
.subscribe-section .subscribe  .subscribe-holder p,
.subscribe-section .subscribe .login-holder p{
    font-size: 0.9em;
    color: #878787;
    margin-bottom: 20px;
}
.subscribe-section .subscribe  .subscribe-holder .name-holder{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.subscribe-section .subscribe  .subscribe-holder .name-holder input,
.subscribe-section .subscribe .login-holder input{
    width: 100%;
    padding: 9px 15px;
    border: 1px solid #c7c5c5;
    border-radius: 5px;
    transition: all 0.3s;
}   
.subscribe-section .subscribe  .subscribe-holder .name-holder input::placeholder,
.subscribe-section .subscribe .login-holder input::placeholder{
    color: #878787;
}
.subscribe-section .subscribe  .subscribe-holder .name-holder input:focus,
.subscribe-section .subscribe .login-holder input:focus{
    outline: none;
    border: 1px solid #e94e4e;
}
.subscribe-section .subscribe  .subscribe-holder form input,
.subscribe-section .subscribe .login-holder form input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #c7c5c5;
    margin-bottom: 20px;
    border-radius: 5px;
}
.subscribe-section .subscribe  .subscribe-holder form input::placeholder,
.subscribe-section .subscribe .login-holder form input::placeholder{
    color: #878787;
}
.subscribe-section .subscribe  .subscribe-holder form input:focus,
.subscribe-section .subscribe .login-holder form input:focus{
    outline: none;
    border: 1px solid #e94e4e;
}
.subscribe-section .subscribe  .subscribe-holder form input[type="submit"],
.subscribe-section .subscribe .login-holder form input[type="submit"]{
    background-color: #e94e4e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}
.subscribe-section .subscribe .subscribe-holder form input[type="submit"]:hover,
.subscribe-section .subscribe .login-holder form input[type="submit"]:hover{
    background-color: #fc7373;
    color: white;
}
.subscribe-section .subscribe .sign-toggler{
    position:absolute;
    top:10%;
    left: 56%;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}
.subscribe-section .subscribe .sign-toggler p{
    color: #213294;
    display: inline;
    font-size: 1.1em;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}