*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}
header{
    width:1140px;
    max-width: 80%;
    margin:auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 1000;
}
header a{
    text-decoration: none;
    color: #eee;
    margin-right: 40px;
}

.carousel{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -60px;
}